# OS / Editor
.DS_Store
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Environments
venv/
.venv/
.env

# Data
data/private/
dist/
data/import/
data/import/**
data/localdb*
data/*.tmp
data/*.enc

# Local env (not committed)
.env.local
